body {
    header {
        width: $w-100;
        background: rgb(14, 127, 223);
        background: linear-gradient(0deg, rgba(14, 127, 223, 0.85) 1%, rgba(17, 142, 212, 1) 11%,
                rgba(27, 186, 178, 1) 26%, rgba(32, 209, 161, 1) 40%, rgba(43, 255, 125, 1) 56%,
                rgba(236, 254, 243, 1) 86%, rgba(236, 254, 243, 1) 93%);
        box-shadow: 3px 3px 30px $gray;

        .header__titulo--green {
            a {
                text-decoration: none;
                display: $d-flex;
                justify-content: center;
                font-size: $textLarge;
                font-weight: 600;
                color: $light-green;
            }
        }

        nav {
            div {
                form {
                    .form__search--design {
                        border-radius: 5px;
                        height: 37px;
                        margin-left: 60px;
                        margin-top: 7px;
                        font-size: $textxSmall;
                    }
                }

                .navbar-collapse {
                    ul {
                        .div__navbar--links {
                            display: $d-flex;
                            flex-direction: row;
                            margin-top: 20px;

                            li {
                                margin-left: 25px;

                                //Animacion para el hover de los links de la navbar
                                .hover-underline-animation {
                                    display: inline-block;
                                    position: relative;
                                    color: $gray;

                                    h3 {
                                        font-size: $textxxSmall;
                                    }
                                }

                                .hover-underline-animation:after {
                                    content: '';
                                    position: absolute;
                                    width: 100%;
                                    transform: scaleX(0);
                                    height: 2px;
                                    bottom: 0;
                                    left: 0;
                                    background-color: #0087ca;
                                    transform-origin: bottom right;
                                    transition: transform 0.5s ease-out;
                                }

                                .hover-underline-animation:hover:after {
                                    transform: scaleX(1);
                                    transform-origin: bottom left;
                                }
                            }
                        }

                        li {
                            a {
                                #img__navbar--size {
                                    width: 60px;
                                }
                            }
                        }
                    }
                }
            }

            ul {
                li {
                    font-size: $textSmall;
                    font-weight: 500;
                }
            }
        }
    }
}

//Break-point para resoluciones inferiores a 1200px
@media only screen and (min-width: 50px) and (max-width: 1200px) {
    body {
        header {
            nav {
                div {
                    .navbar-collapse {
                        ul {
                            .div__navbar--links {
                                display: $d-flex;
                                flex-direction: column;
                                // align-items: center;
                                margin-top: 15px;

                                li {
                                    margin-left: 10px;
                                }
                            }
                        }

                        li {
                            a {
                                #img__navbar--size {
                                    margin: 15px;
                                    width: $w-5;
                                }
                            }
                        }
                    }
                }
            }

            ul {
                li {
                    font-size: $textSmall;
                    font-weight: 500;
                }
            }
        }
    }
}